.show_more_block {
    display: flex;
    flex-direction: row;

    align-items: center;

    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
}

.arrow {
    margin-right: 30px;
}