.popup {
    border: 2px solid #D8D8D8;
    border-radius: 15px;
    padding: 20px 20px 45px 40px;
    background-color: white;
    margin: 0 auto;
}


.title_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.title_block p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.4px;

    /* DarkColor */

    color: #262B4F;
}

.popup_body {

}