.page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.4px;

    margin-bottom: 66px;
    /* DarkColor */

    color: #262B4F;
}

.body {
    width: 1100px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: white;
    padding: 32px 39px 50px 24px;
    border-radius: 15px;
}

.cards_grid {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
}

.centerWrapp {
    margin-bottom: 6px;
    margin-top: 22px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.position_wrapper {
    position: absolute;
    left: 20%;
    top: 14%;
}
