.text_area {
    width: 569px;
    height: 206px;
    padding: 13px 16px;
    display: flex;
    flex-direction: row;
    align-items: start;
    background: #EDEDED;
    border: 2px solid #D8D8D8;
    border-radius: 15px;
}


.text_area textarea {
    resize: none;
    display: block;
    width: 100%;
    text-decoration: none;
    color: #9F9F9F;
    background-color: #EDEDED;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.4px;
}

.text_area img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}