.footer {
    padding: 10px 145px;
    margin-bottom: 24px;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #262B4F;
    align-items: center;
}


.right_block {
    display: flex;
    flex-direction: row;
    align-items: center;
}
