.text_with_image {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-radius: 15px;
    margin-bottom: 30px;
}


.text_with_image p {
    text-align: start;
    width: 100%;
    text-decoration: none;
    color: #9F9F9F;

    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    letter-spacing: 0.4px;
}

.text_with_image img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    color: #262B4F;
}